<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../CSS/styles.css">
    <title>Joshua Spurgeon | Graduate Computer Games Developer | About</title>
</head>
<body class="about">
    <header>
        <nav class="page-navigation">
            <ul>
                <li><a class="btn" href="homepage.html">Home</a></li>
                <li><a class="btn" href="about.html">About Me</a></li>
                <li><a class="btn" href="showcase.html">Showcase</a></li>
            </ul>
        </nav>
        <div class="content-wrapper">
            <h1>Joshua Spurgeon</h1>
            <h2>Graduate Computer Games Developer | Programmer</h2>
        </div>
    </header>

    <main class="content-wrapper">
        <section class="about-section">
            <img imgsrcset="Media/Portfolio Profile Pic.jpg"
                 width="320" height="320"
                 src="../Media/Portfolio%20Profile%20Pic.jpg"
                 alt="Profile Picture">
            <h1>In depth about me</h1>

            <p>Hardworking, considerate and reliable individual with experience in object-oriented programming such as C languages and Java. With skills developed working in Unity and Unreal game engines.</p>
            <p>Seeking graduate job, primarily opportunities focussed around software programming/ development. My programming skills have been developed using the medium of computer games, which is heavily focussed on object-oriented programming.</p>
            <p>Originally started my interest in the industry with 3D modeling game assets during my Creative Media production course in college but since attending University have altered to being more passionate about developing my skills as a programmer</p>
        </section>
        <section class="about-section">
            <h2>Education:</h2>
            <section class="education-item">
                <h3>Manchester Metropolitan University</h3>
                <p>Computer Games Development | Bachelors (Honours) Degree | 2021 - 2024</p>
                <p>First Class</p>
            </section>
            <section class="education-item">
                <h3>Banbury & Bicester College</h3>
                <p>BTEC Level 3 Creative Media Production (Game Development) | 2019 - 2021</p>
                <p>Result: DMM</p>
            </section>
        </section>

        <section class="about-section">
            <h2>Skills & Expertise: </h2>
            <ul class="skills">
                <li class="skill">
                    <span>C++</span>
                    <span>4 Years</span>
                </li>
                <li class="skill">
                    <span>C#</span>
                    <span>4 Years</span>
                </li>
                <li class="skill">
                    <span>Unity</span>
                    <span>4 Years</span>
                </li>
                <li class="skill">
                    <span>Unreal</span>
                    <span>4 Years</span>
                </li>
                <li class="skill">
                    <span>GitHub</span>
                    <span>4 Years</span>
                </li>
                <li class="skill">
                    <span>Python</span>
                    <span>1 Years</span>
                </li>
                <li class="skill">
                    <span>Java</span>
                    <span>1 Years</span>
                </li>
                <li class="skill">
                    <span>HTML</span>
                    <span>1 Years</span>
                </li>
                <li class="skill">
                    <span>CSS</span>
                    <span>1 Years</span>
                </li>
                <li class="skill">
                    <span>Jira</span>
                    <span>1 Years</span>
                </li>
                <li class="skill">
                    <span>Trello</span>
                    <span>1 Years</span>
                </li>
                <li class="skill">
                    <span>3DS Max</span>
                    <span>3 Years</span>
                </li>
                <li class="skill">
                    <span>Blender</span>
                    <span>3 Years</span>
                </li>
            </ul>
        </section>
    </main>

    <!--FOOTER INFO, SOCIAL MEDIA-->
    <footer>
        <p>© 2025 by Joshua&nbsp;Spurgeon | <a href="mailto:josh.a.spurgeon200213@outlook.com">josh.a.spurgeon200213@outlook.com</a></p>
        <ul class="socials">
            <li><a href="https://www.linkedin.com/in/joshua-spurgeon0213/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3ByzgaAm%2BXR3KNN0ksl%2BIIYg%3D%3D" target="_blank"><img src="../Media/Icons/icon-logo-linkedin.png" alt="My LinkedIn"></a></li>
        </ul>
    </footer>
</body>
</html>