<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../CSS/styles.css">
    <title>JoshuaSpurgeon | Graduate Computer Games Developer | Homepage</title>
</head>
<body class="home">
    <!--// Intro-->
    <nav class="page-navigation">
        <ul>
            <li><a class ="btn" href="homepage.html">Home</a></li>
            <li><a class ="btn" href="about.html">About Me</a></li>
            <li><a class ="btn" href="showcase.html">Showcase</a></li>
        </ul>
    </nav>
    <div class="content-wrapper">
        <div class="content-bg">
            <header>
                <hgroup>
                    <h1>Joshua Spurgeon</h1>
                    <h2>Graduate Computer Games Developer & Programmer</h2>
                </hgroup>
            </header>

            <main>
                <!--// About Me-->
                <h2>About Me</h2>
                <p>
                    I am a Graduate of Manchester Metropolitan University, holding a First Class Bachelors Degree in Computer Games Development.
                    I am seeking my first graduate job primarily centered around software programming/ development.
                    Since studying Computer Games Development I have found a passion for producing clean and maintainable code as well as researching
                    different concepts and implementation of different functionality. I am motivated to develop my skills further and am open to the
                    challenge of applying my skills outside the medium of game development. As the majority of my learning for computer games focused on
                    Object-Oriented programming I believe my skills are adaptable to over avenues of software development.
                </p>
                <p>Check out my skills here: <a class="inPageBtn" href="about.html">About me</a></p>
            </main>
        </div>
    </div>

    <!--FOOTER INFO, SOCIAL MEDIA-->
    <footer>
        <p>© 2025 by Joshua&nbsp;Spurgeon | <a href="mailto:josh.a.spurgeon200213@outlook.com">josh.a.spurgeon200213@outlook.com</a></p>
        <ul class="socials">
            <li><a href="https://www.linkedin.com/in/joshua-spurgeon0213/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3ByzgaAm%2BXR3KNN0ksl%2BIIYg%3D%3D" target="_blank"><img src="../Media/Icons/icon-logo-linkedin.png" alt="My LinkedIn"></a></li>
        </ul>
    </footer>
</body>
</html>