<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../CSS/styles.css">
    <title>Joshua Spurgeon | Graduate Computer Games Developer | Setup Racer</title>
</head>
<body class="about">
    <header>
        <nav class="page-navigation">
            <ul>
                <li><a class="btn" href="homepage.html">Home</a></li>
                <li><a class="btn" href="about.html">About Me</a></li>
                <li><a class="btn" href="showcase.html">Showcase</a></li>
            </ul>
        </nav>
        <a class="inPageBtn" href="showcase.html">Go back</a>
        <hgroup>
            <h1>Synoptic Project | Setup Racer</h1>
            <h2>Individual Project | Unity Engine</h2>
        </hgroup>
    </header>

    <main class="content-wrapper">
        
    </main>

    <!--FOOTER INFO, SOCIAL MEDIA-->
    <footer>
        <p>© 2025 by Joshua&nbsp;Spurgeon | <a href="mailto:josh.a.spurgeon200213@outlook.com">josh.a.spurgeon200213@outlook.com</a></p>
        <ul class="socials">
            <li><a href="https://www.linkedin.com/in/joshua-spurgeon0213/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3ByzgaAm%2BXR3KNN0ksl%2BIIYg%3D%3D" target="_blank"><img src="../Media/Icons/icon-logo-linkedin.png" alt"My LinkedIn"></a></li>
        </ul>
    </footer>
</body>
</html>