<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../CSS/styles.css">
    <title>Joshua Spurgeon | Graduate Computer Games Developer | Showcase</title>
</head>
<body class="about">
    <header>
        <nav class="page-navigation">
            <ul>
                <li><a class="btn" href="homepage.html">Home</a></li>
                <li><a class="btn" href="about.html">About Me</a></li>
                <li><a class="btn" href="showcase.html">Showcase</a></li>
            </ul>
        </nav>
    </header>

    <main class="content-wrapper">
        <h1>Showcase</h1>        

        <div class="showcase-wrapper">
            <section class="showcase-item">
                <h2>Synoptic Project | Setup Racer</h2>
                <h3>Individual Project | Unity Engine</h3>
                <p>This project was created as my final year project for my Computer Games Development University course. My project idea was to explore ways setup menus featured in sim and simcade racing games could be more accessible and influential in how they teach the player how to adjust vehicle settings for esports/ league racing. My approach target simcade style racing games as the genre provides simpler handling physics with easier controlling cars whilst still providing depth and influence of real world vehicle dynamics such that adjusting the vehicle settings is impactful. My approach to providing greater detail in setup menus in this vertical slice was with tool tips that would appear when hovering over options that highlighted the pros and cons that would come from the specific change. Players would alter car settings then return to the test track to see whether changes provided an improvement in their lap times.</p>
                <a class="inPageBtn" href="setupracerproject.html">Closer Look</a>
            </section>
            <section class="showcase-item">
                <h2>MMU2324 Games Engine</h2>
                <h3>Group Project | Visual Studio</h3>
                <h4>Individual contribution: Physics Component</h4>
                <p>This was apart of my final year unit 'Games Engines' in which the entire class collaborated on producing our own 2D games engine. My contribution to the project consisted in developing the physics component. I accomplished this by utilizing the Box2D library in Visual Studio to develop functions to add collision physics to objects and handle collision interactions between objects.</p>
                <a class="inPageBtn" href="gamesengineproject.html">Closer Look</a>
            </section>
            <section class="showcase-item">
                <h2>Destructible Environments | DIRT-E</h2>
                <h3>Group Project | Unity Engine</h3>
                <p>This was part of my 'Thematic Project' unit in Second year of my university course which focused on developing a group project around a certain theme. My groups theme was destructible environments and to form a wider scope based on the brief, how destruction can be present in games. My group focused on creating a game that used destructible objects. Premise of the vertical slice was the player was stuck within a valley of trash and would need to gather resources from destroying objects to craft tools to escape. My contribution to the project was the 3D modelling the  destructible objects and player gun and implementing the destruction mechanics for the vertical slice.  </p>
                <a class="inPageBtn" href="dirteproject.html">Closer Look</a>
            </section>
            <section class="showcase-item">
                <h2>On A Scroll</h2>
                <h3>Group Project | Unity Engine</h3>
                <h4>Individual Conrtibutions: </h4>
                <ul>
                    <li>Pinata Minigame</li>
                    <li>Score</li>
                    <li>Timer</li>
                </ul>
                <p>This was a game I was involved with developing during 'VFX & Games Production unit' in final year of my university course, a unit intended to simulate the environment of a game dev studio where individuals could move teams depending on changing requirements and skill sets. On A Scroll was the project that occupied the majority of my time during this unit. My key contributions were: Piñata minigame, scoring system, timer and bug fixing various other minigames. As I joined this project after it started my first two weeks focused on bug fixing to familiarise myself with the project before implementing my own features.</p>
                <p>Itch page link: <a href="https://krispytea.itch.io/on-a-scroll" target="_blank">https://krispytea.itch.io/on-a-scroll</a></p>
                <a class="inPageBtn" href="onascrollproject.html">Closer Look</a>
            </section>
        </div>
    </main>

    <!--FOOTER INFO, SOCIAL MEDIA-->
    <footer>
        <p>© 2025 by Joshua&nbsp;Spurgeon | <a href="mailto:josh.a.spurgeon200213@outlook.com">josh.a.spurgeon200213@outlook.com</a></p>
        <ul class="socials">
            <li><a href="https://www.linkedin.com/in/joshua-spurgeon0213/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3ByzgaAm%2BXR3KNN0ksl%2BIIYg%3D%3D" target="_blank"><img src="../Media/Icons/icon-logo-linkedin.png" alt"My LinkedIn"></a></li>
        </ul>
    </footer>
</body>
</html>